<section
  class='flex flex-col items-center justify-center bg-primary py-12 text-center text-2xl text-white md:text-3xl'
>
  <p class='mb-2'>VALOR DE LA TARJETA</p>
  <div class='flex flex-col items-center gap-4'>
    Mayores: $66.000 <br />
    Adolescentes (13-17 años): $45.000 <br />
    Niños (4-12 años) $35.000
  </div>
</section>
