<section
  class='flex min-h-[20vh] flex-col items-center justify-center gap-0 bg-cover bg-center bg-no-repeat px-4 py-8'
  style='background-image: url("/date-bg.webp")'
>
  <img src='/calendar.gif' alt='Calendario' class='mb-4 size-12' />
  <p class='text-[22px] font-bold text-white'>¿Cuándo?</p>
  <p class='text-[22px] text-white'>26 de Septiembre 2026</p>
  <p class='text-[22px] text-white'>21:30 hs</p>
</section>