<section
  class='flex min-h-[35vh] flex-col bg-cover bg-center bg-no-repeat px-4'
  style='background-image: url("/dress-bg.webp")'
>
  <div class='flex h-1/2 flex-col items-center justify-center gap-0 p-4 text-center tracking-wide leading-none'>
    <img src='/dress.gif' alt='Vestimenta' class='mb-2 size-12' />
    <span class='block text-xl font-bold text-white'>DRESS CODE</span>
    <span class='block text-xl text-white'>¡Libre! Brilla a tu manera!</span>
    <span class='block text-base text-white'>Colores reservados para la quinceañera:</span>
    <span class='block text-base text-white'>Bordó-Champagne-Rosa-Acqua-Blanco</span>
  </div>
  <div class='flex h-1/2 flex-col items-center justify-center gap-0 p-4 text-center tracking-wide leading-none'>
    <img src='/regalo.gif' alt='Regalo' class='mb-2 size-12' />
    <span class='block text-xl text-white'>Tu presencia es el mejor regalo..</span>
    <span class='block text-base text-white'>...pero si estabas pensando en hacerme</span>
    <span class='block text-base text-white'>un obsequio te dejo mi alias</span>
    <span class='block text-lg font-bold text-white'>centanni.pau</span>
  </div>
</section>