<section class='relative flex flex-col items-center justify-center py-8'>
  <div
    class='row-auto grid w-full grid-cols-2 gap-6 md:w-3/5 md:max-w-[1200px] md:grid-cols-3 md:grid-rows-2'
  >
    <img src='/gallery/1.webp' />
    <img src='/gallery/2.webp' />
    <img src='/gallery/3.webp' />
    <img src='/gallery/4.webp' />
    <img src='/gallery/5.webp' />
    <img src='/gallery/6.webp' />
  </div>
</section>
