---
import InstagramIcon from './icons/Instagram.astro'
---

<section class='flex flex-col items-center justify-center gap-0 bg-white px-4 py-12'>
  <p class='text-[22px] text-[#868686]'>Como no quiero perder</p>
  <p class='text-[22px] text-[#868686]'>ningún detalle de esta fiesta,</p>
  <p class='text-[22px] text-[#868686]'>te invito a compartir tus fotos</p>
  <p class='text-[22px] text-[#868686]'>y me ayudes a inmortalizar</p>
  <p class='text-[22px] text-[#868686]'>estos momentos.</p>
  <p class='text-[22px] text-[#868686]'>¡Etiquetame!!</p>
  <InstagramIcon class='size-12 stroke-[#868686]' />
  <p class='text-[22px] font-bold text-[#868686]'>@paulicentanni</p>
</section>