<section class='flex min-h-[30vh] flex-col items-center justify-center gap-0 bg-white px-4'>
  <img src='/location.gif' alt='Ubicación' class='mb-4 size-12' />
  <p class='text-[22px] font-bold text-[#868686]'>¿Dónde?</p>
  <p class='text-[22px] text-[#868686]'>Salón Elegantes</p>
  <a
    href='https://maps.app.goo.gl/phied2QQh77C9Lp18'
    class='mt-4 rounded-lg bg-[#868686] px-6 py-2 text-sm font-thin uppercase tracking-widest text-white'
  >
    Cómo Llegar
  </a>
</section>