<section
  class='flex min-h-[15vh] flex-col items-center justify-center gap-0 bg-cover bg-center bg-no-repeat px-4 py-6'
  style='background-image: url("/date-bg.webp")'
>
  <img src='/musica.gif' alt='Música' class='mb-2 size-12' />
  <span class='block text-xl font-bold text-white'>La fiesta se arma con vos</span>
  <span class='block text-xl text-white'>y con tu música favorita!</span>
  <span class='block text-base text-white'>Decime qué música no puede faltar</span>
  <span class='block text-base text-white'>para que bailemos juntos...</span>
  <a
    href='https://forms.gle/qjMJAKMZQS2YRVsB9'
    target='_blank'
    class='mt-4 rounded-lg bg-white px-6 py-2 text-sm font-thin uppercase tracking-widest text-black'
  >
    MI MÚSICA FAVORITA
  </a>
</section>