<section
  class='relative flex min-h-[25vh] items-center justify-center bg-cover bg-center bg-no-repeat px-4'
  style='background-image: url("/portada.webp")'
>
  <img src='/logo.webp' alt='Logo' class='w-64' />
</section>