<section
  class='relative flex min-h-[25vh] items-center justify-center bg-cover bg-center bg-no-repeat px-4'
  style='background-image: url("/portada.webp")'
>
  <div class='absolute inset-0 bg-black/20'></div>
  <img src='/logo.webp' alt='Logo' class='relative z-10 w-64' />
</section>