<section
  class='relative flex min-h-[25vh] flex-col items-center justify-center bg-cover bg-center bg-no-repeat px-4'
  style='background-image: url("/portada.webp")'
>
  <div class='absolute inset-0 bg-black/20'></div>
  <p class='relative z-10 text-7xl font-thin text-white' style='font-family: "Yustine Signature", sans-serif;'>Te espero</p>
</section>