<section class='flex flex-col items-center gap-2 py-12 text-lg text-primary'>
  <p class='mt-2 text-center text-4xl md:text-[4rem]'>
    Gracias por acompañarme!
  </p>
</section>

<style>
  p {
    font-family: 'Yustine Signature', sans-serif;
    font-weight: light;
  }
</style>
