<section
  class='flex min-h-[25vh] flex-col items-center justify-center bg-cover bg-center bg-no-repeat px-4'
  style='background-image: url("/portada.webp")'
>
  <p class='text-7xl font-thin text-white' style='font-family: "Yustine Signature", sans-serif;'>Te espero</p>
</section>